@model EInventory.Models.CompanyAuthorityPerson


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Add Contact Detail</h4>
</div>
<div class="modal-body">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.SrNo)

        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Contact Name</label>
                @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Satutory Value</label>
                @Html.DropDownListFor(model => model.refDesignID_ParamVal, new SelectList(ViewBag.listDesgMaster, "ID", "ParamVal"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.refDesignID_ParamVal, "", new { @class = "text-danger" })

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Save changes" />
            </div>
        </div>
    }
</div>